@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-family: Ubuntu, sans-serif;
}

ul {
    list-style: none;
}

@mixin fixed {
    position: fixed;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
}

#pending {
    text-align: center;
}

.gray-window {
    @include fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

.modal-block {
    @include fixed;
    width: 960px;
    min-height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: white;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr;
    gap: 5px;

    div:first-child {
        width: 265px;
        padding: 0;
        justify-content: center;
        align-content: center;
        border-radius: 10px 0px 0 10px;
        overflow: hidden;
        background-color: #D3D3D3;
        transition: filter 0.3s ease;
        
        >img {
            height: 500px;
            width: 100%;
            display: block;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .element-img {
            width: 82px;
            height: 82px;
            overflow: visible;

            img {
                width: 100%;
                height: 82px;
                display: inline-block;
            }
        }

        img {
            width: 100%;         
        }

    }
}

.list {
    display:grid;
    width: 1810px;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
}


.character {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    h2 {
        margin: 0;
        margin: 5px 0;
    }

    img {
        display: block;
        width: 100%;
    }

    button {
        width: 50%;
        font-size: 16px;
        text-align: center;
        background-color: #C7253E;
        color: white;
        border: none;
        margin-top: 10px;
    }
}

.info {
    div {
        font-size: 24px;
    }
}

.div-search {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.filter {
    display: flex;
}

.search {
    font-size: 20px;
    width: 50%;
    min-width: 400px;
    padding: 15px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
}

.sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    .sort-button {
        background-color: #fff;
        width: 200px;
        border-radius: 50px;
        padding: 10px;
        border: none;
        background-color: rgba(0, 0, 0);
        font-size: 1.3rem;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
      }

      .sort-button-active {
        background-color: rgb(0, 0, 0);
      }

    .sort-list {
        position: absolute;
        top: 0px;
        right: 430px;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
        list-style: none;

        .sort-item {
            background-color: #fff;
            width: 100%;
            z-index: 3;

            button {
                width: 100%;
                border: none;
                font-size: 1.2rem;
                padding: 7px;
                cursor: pointer;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.4);
                }
              }
              
              .sort-active {
                background-color: rgba(0, 0, 0, 0.8);
                color: white;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                  }
              }
          }
      }

      .sort-order {
        display: grid;
        height: 70px;
        justify-content: center;
        width: 120px;
        grid-template-columns: 1fr 1fr;
        margin-right: 30px;

        .sort-order-active {
            path {
                color: rgba(0, 0, 0, 0.8);
            }
        }

        * {
            overflow:visible;
            transform: scale(2.5);
            color: rgba(0, 0, 0);
            cursor: pointer;

        }
        
      }
      
  }
